<footer class="footer">
      <p style="text-align: center">
        2019 Surfcasting en vendée | <a href="noreferrer" title="mention légale" style="color: #000000">Mention légale</a></p>
        <p>vous pouvez visiter mon site <a href="reynaud-sebastien.fr">sebastien</a></p>
      </footer>