<footer class="footer" style="background-color: #000000" style="color:white">
      <p style="text-align: center">
        2019 Surfcasting en vendée | <a href="noreferrer" title="mention légale" style="color: #ff0000">Mention légale</a></p>
        <p style="text-align: center">vous pouvez visiter mon site <a href="http://reynaud-sebastien.fr">ici</a></p>
      </footer>