<!-- navbar-start, navbar-end... -->
<div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-start">
    <a href="/" class="navbar-item">
      Accueil
    </a>

    <a href="/contact" class="navbar-item">
      Contact
    </a>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/user/create">
            <strong>S'inscrire</strong>
          </a>
          <a class="button is-light" href="/user/login">
            Se connecter
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/user/create">
            <strong>S'inscrire</strong>
          </a>
          <a class="button is-light" href="/user/login">
            Se connecter
          </a>
        </div>
      </div>
    </div>

    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true">Accueil</span>
      <span aria-hidden="true">Contact</span>
      <span aria-hidden="true">S'inscrire</span>
      <span aria-hidden="true">Se connecter</span>
    </a>
  </div>
</div>