<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Surfcasting en vendée</title>
    <meta name="description" content="site dédié au surfcasting en vendée.">

    <!--                             STYLE                                                     -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="resources/css/style.css">


    <!--                              ICONS                                                    -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!--                                                                                       -->

</head>
<body>
     {{> navbar}}           
    {{{body}}}

    
    {{> footer}}
</body>
</html>