<section id="contact" class="contact">
        <div class="container">
                <div class="field">
                        <label class="label">Nom</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Text input">
                        </div>
                      </div>
                <div class="field">
                        <label class="label">Prenom</label>
                        <div class="control">
                          <input class="input" type="text" placeholder="Text input">
                        </div>
                      </div>
                      
                      <div class="field">
                        <label class="label">Nom d'utilisateur</label>
                        <div class="control has-icons-left has-icons-right">
                          <input class="input is-success" type="text" placeholder="Text input">
                          <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                          </span>
                          <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                          </span>
                        </div>
                      </div>
                      
                      <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                          <input class="input is-danger" type="email" placeholder="Email input">
                          <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                          </span>
                          <span class="icon is-small is-right">
                            <i class="fas fa-exclamation-triangle"></i>
                          </span>
                        </div>
                      </div>
                      
                      <div class="field">
                        <label class="label">Sujet</label>
                        <div class="control">
                          <div class="select">
                            <select>
                              <option>Problèmes Techniques</option>
                              <option>Plaintes</option>
                              <option>Autre</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      
                      <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                          <textarea class="textarea" placeholder="Textarea"></textarea>
                        </div>
                      </div>
                                                  
                      <div class="field is-grouped">
                        <div class="control">
                          <button class="button is-link">Envoyer</button>
                        </div>
                        <div class="control">
                          <button class="button is-text">Annuler</button>
                        </div>
                      </div>
        </div>
    </section>